*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.history
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
# /vendor (temporarily disabled for deployment)
Homestead.json
Homestead.yaml
Thumbs.db
check_certificates.php
check_courses.php
check_users.php
create_all_certificates.php
create_all_user_certificates.php
create_test_certificate.php
create_user_certificates.php
